doctype html
html
  head
    title Password Reset Request
  body
    h1 Password Reset Request
    p Hello, #{employeeName} has requested to reset their password.
    p To confirm, click the link below:
    a(href=resetUrl) Reset Password
    p This link will expire in 15 minutes.
    p Best regards,
    p Support Team
